# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.vitest
playwright-report
test-results

# Next.js
.next/
out/

# Production
*.log

# Local env files
.env*.local
.env

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# CI/CD
.github

# Documentation
README.md
docs/
